<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.github.com/">
      <i class="fa fa-github"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/">
      <i class="fa fa-instagram"></i>
    </a>
    <a target="_blank" href="https://www.facebook.com/">
      <i class="fa fa-facebook"></i>
    </a>
    <a target="_blank" href="https://www.twitter.com/">
      <i class="fa fa-twitter"></i>
    </a>
    <a target="_blank" href="https://www.linkedin.com/">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
