<div class="text-center">
  <h2>Add a dose</h2>
</div>

<div class="text-center form-group">
  <%= render 'form' %>
</div>

<div class="text-center">
  <%= link_to 'Back to Cocktail', cocktail_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to 'Back to Index', cocktails_path, class: "btn btn-primary" %>
</div>
